<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
          <h3>{{'TODO.HEADER' | translate}}</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="todoForm" (ngSubmit)="submitTodo()">
          <div class="form-group">
            <label for="task">{{'TODO.TASK' | translate}}</label>
            <input type="text" id="task" name="task" formControlName="task" class="form-control" placeholder="Enter your next task">
          </div>
          <div class="form-group">
            <label for="price">{{'TODO.PRICE' | translate}}</label>
            <input type="text" id="price" name="price" formControlName="price" class="form-control" placeholder="Price">
          </div>
          <div class="form-group">
            <label for="todoby">{{'TODO.DUEDATE' | translate}}</label>
            <input type="text" id="dueDate" bsDatepicker 
            name="dueDate" formControlName="dueDate" 
            class="form-control" placeholder="Due Date">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!todoForm.valid">{{'TODO.SAVE' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <h3>{{'TODO.TODOLIST' | translate}}</h3>
        </div>
        <div class="card-body">
          <div class="row" *ngFor="let todo of todos" >
            <div class="col-sm-2">{{todo.task}}</div>
            <div class="col-sm-2">{{todo.price}}</div>
            <div class="col-sm-3">{{todo.dueDate | date}}</div>
            <div class="col-sm-5">in 3 days</div>
          </div>
          
        </div>
      </div>
  </div>
</div>
