<nav class="navbar navbar-expand-md navbar-light bg-primary">
    <a class="navbar-brand" href="#">BILINGUAL Inc.</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/todo">ToDo</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="setLang('en')" href="javascript:void(0)">En</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="setLang('fr')" href="javascript:void(0)">Fr</a>
          </li>

        </ul>
        
        <form class="form-inline" action="/action_page.php">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-default" type="submit">Search</button>
        </form>

    </div>
</nav>